@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Fjalla One', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    background: linear-gradient(#14868c,#ffe7ad);
}

.location, 
.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}